# **0.Hope to Skills - Free AI Course**
This note book cover the following concepts

1. Pandas
2. Loading the Data
3. Data Frame

# **Key Features of Pandas**
**DataFrame:** A two-dimensional labeled data structure for working with tabular data.

**Data Manipulation:** Powerful tools for filtering, transforming, and aggregating data.

**Data Cleaning:** Functions to handle missing values, duplicate data, and outliers.

**Data Input/Output:** Read and write data from various file formats, including CSV and Excel.

# **1. Installing Pandas**

Run the command: !pip install pandas.

In [1]:
 !pip install pandas

Requirement already satisfied: pandas in c:\users\khuboo\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\khuboo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\khuboo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\khuboo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\khuboo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## **1.1. Importing the installed Libraries**

In [2]:
import pandas as pd

## **1.2. Loading the document**

In [3]:
df = pd.read_csv("vgsalesGlobale.csv", index_col = "Name")

# **2. Data Exploration**

## **2.1. Displaying the Top Rows of the Data**

The **head()** function is used to display the first few rows of a DataFrame or a data structure containing tabular data.

It is primarily used for data exploration and getting a quick overview of the data.

In [4]:
df.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## **2.2. Displaying the Last rows on the data**

The **tail()** function is used to view the last few rows of a DataFrame or a file.

It is a convenient way to quickly inspect the end of a dataset or file without having to display the entire contents.

In [5]:
df.tail(10)

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Mega Brain Boost,16591,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,16592,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,16593,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
Myst IV: Revelation,16594,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
Plushees,16595,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

### **2.3. Shape of the Data**

In pandas, the **.shape** attribute is used to determine the dimensions of a DataFrame or Series. It returns a tuple containing the number of rows and columns present in the

In [6]:
df.shape

(16598, 10)

## **2.4. Data types in dataset**

In pandas, the **.dtype** function is used to determine the data type of a Series or DataFrame. It returns the data type of the elements within the object.

In [7]:
df.dtypes

Rank              int64
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

## **2.5. Description of the dataset**

The .**describe()** function in pandas is a convenient method that provides summary statistics of a DataFrame or Series. It computes various descriptive statistics, such as count, mean, standard deviation, minimum, quartiles, and maximum, for the numerical columns in the DataFrame.

Here is a breakdown of the statistics provided by the `.describe()` function:

1. **Count**: The number of non-null values in each column.
2. **Mean**: The average value of each column.
3. **Standard Deviation (std)**: The measure of the amount of variation or dispersion in each column.
4. **Minimum (min)**: The smallest value in each column.
5. **25th Percentile (25%)**: Also known as the first quartile (Q1), this represents the value below which 25% of the data falls.
6. **50th Percentile (50%)**: Also known as the median, this represents the value below which 50% of the data falls.
7. **75th Percentile (75%)**: Also known as the third quartile (Q3), this represents the value below which 75% of the data falls.
8. **Maximum (max)**: The largest value in each column.

In [8]:
df['Global_Sales'].describe()

count    16598.000000
mean         0.537441
std          1.555028
min          0.010000
25%          0.060000
50%          0.170000
75%          0.470000
max         82.740000
Name: Global_Sales, dtype: float64

In [9]:
df['Year'].describe()

count    16327.000000
mean      2006.406443
std          5.828981
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2020.000000
Name: Year, dtype: float64

In [10]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

## **2.5. Data on specific location**

In [11]:
df.iloc[299]

Rank                           300
Platform                       PS3
Year                        2008.0
Genre                 Role-Playing
Publisher       Bethesda Softworks
NA_Sales                      2.15
EU_Sales                       1.2
JP_Sales                      0.07
Other_Sales                   0.59
Global_Sales                  4.01
Name: Fallout 3, dtype: object

In [12]:
df.loc["Super Mario Bros."]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Super Mario Bros.,201,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07

In [13]:
df.sort_values(by = "Year").head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Checkers,6898,2600,1980.0,Misc,Atari,0.22,0.01,0.0,0.00,0.24
Boxing,2671,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
Freeway,5368,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
Defender,1971,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
Kaboom!,1768,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15

In [14]:
df.sort_values(by = "Year", ascending=False).head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Imagine: Makeup Artist,5959,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29
Phantasy Star Online 2 Episode 4: Deluxe Package,14393,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.03,0.00,0.03
Phantasy Star Online 2 Episode 4: Deluxe Package,16244,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01
Brothers Conflict: Precious Baby,16441,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01
Shin Megami Tensei IV: Final,8295,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.0,0.14,0.00,0.17

In [15]:
df["Publisher"].head(10)

Name
Wii Sports                   Nintendo
Super Mario Bros.            Nintendo
Mario Kart Wii               Nintendo
Wii Sports Resort            Nintendo
Pokemon Red/Pokemon Blue     Nintendo
Tetris                       Nintendo
New Super Mario Bros.        Nintendo
Wii Play                     Nintendo
New Super Mario Bros. Wii    Nintendo
Duck Hunt                    Nintendo
Name: Publisher, dtype: object

In [16]:
df[df["Genre"] =="Action"]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Grand Theft Auto V,17,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
Grand Theft Auto: San Andreas,18,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
Grand Theft Auto V,24,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
Grand Theft Auto: Vice City,25,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
Grand Theft Auto III,39,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
...,...,...,...,...,...,...,...,...,...,...
Original Frisbee Disc Sports: Ultimate & Golf,16567,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01
Fujiko F. Fujio Characters: Great Assembly! Slightly Fantastic Slapstick Party,16570,3DS,2014.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
Planet Monsters,16585,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.00,0.01
Carmageddon 64,16586,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,16592,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [17]:
after_2015 = df["Year"] > 2015
df[after_2015]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
FIFA 17,222,PS4,2016.0,Sports,Electronic Arts,0.28,3.75,0.06,0.69,4.77
Uncharted 4: A Thief's End,272,PS4,2016.0,Shooter,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20
Tom Clancy's The Division,352,PS4,2016.0,Shooter,Ubisoft,1.28,1.61,0.15,0.57,3.61
Far Cry: Primal,772,PS4,2016.0,Action,Ubisoft,0.59,1.16,0.06,0.33,2.13
Tom Clancy's The Division,847,XOne,2016.0,Shooter,Ubisoft,1.20,0.62,0.00,0.18,2.01
...,...,...,...,...,...,...,...,...,...,...
Mighty No. 9,16565,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
Resident Evil 4 HD,16572,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
Farming 2017 - The Simulation,16573,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
Rugby Challenge 3,16579,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,16592,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [18]:
mid_2000s = df["Year"].between(2000, 2010)
df[mid_2000s]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
New Super Mario Bros.,7,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
Wii Play,8,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## **2.6. InterQuartile Range**

The **.quantile()** method in Pandas is used to calculate the quantile values of a Series or DataFrame. A quantile represents a specific value below which a given fraction of the data falls. It provides a way to understand the distribution of numerical data by dividing it into intervals

In [19]:
Q1 = df['Year'].quantile(0.25)

In [20]:
Q3 = df['Year'].quantile(0.75)

In [21]:
IQR = Q3-Q1

In [22]:
print("The interquartile range is: ", IQR)

The interquartile range is:  7.0

## **2.7. Handling the missing the data**

In [23]:
df.isnull()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,False,False,False,False,False,False,False,False,False,False
Super Mario Bros.,False,False,False,False,False,False,False,False,False,False
Mario Kart Wii,False,False,False,False,False,False,False,False,False,False
Wii Sports Resort,False,False,False,False,False,False,False,False,False,False
Pokemon Red/Pokemon Blue,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,False,False,False,False,False,False,False,False,False,False
Men in Black II: Alien Escape,False,False,False,False,False,False,False,False,False,False
SCORE International Baja 1000: The Official Game,False,False,False,False,False,False,False,False,False,False
Know How 2,False,False,False,False,False,False,False,False,False,False
Spirits & Spells,False,False,False,False,False,False,False,False,False,False

In [24]:
df.isnull().sum()

Rank              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [25]:
# remove all the rows that contain a missing value
df.dropna()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [26]:
df.fillna(df.mean())

C:\Users\khuboo\AppData\Local\Temp\ipykernel_20420\634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01